<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IPricelistService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://zakazdev.autotrend.ua:5778/Pricelist/PricelistService.svc/Pricelist"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPricelistService"
                contract="WebServiceReference.IPricelistService" name="BasicHttpBinding_IPricelistService" />
        </client>
    </system.serviceModel>
</configuration>