<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="PricelistService.Service.Implementation.PricelistService" behaviorConfiguration="mexBihavior">
        <!-- Указание Адреса, Привязки и Контракта -->
        <endpoint address="Pricelist" binding="basicHttpBinding" contract="PricelistService.Service.IPricelistService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://IT-1:4000/"/>
            <add baseAddress="net.tcp://IT-1:57048/"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBihavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>