<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="PriceListConsoleServer.Service.PriceListService">
                <host>
                    <baseAddresses>
                        <add baseAddress="http://IT-1:4000/PriceList"/>
                    </baseAddresses>
                </host>
                <!-- Указание Адреса, Привязки и Контракта -->
                <endpoint address=""
                          binding="basicHttpBinding"
                          contract="Common.ServiceContract.IPriceList" />
            </service>
        </services>
    </system.serviceModel>
</configuration>